PORT=5001
NODE_ENV=development

# MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/elyptek-manage?retryWrites=true&w=majority

JWT_SECRET=change-me-to-a-long-random-secret
JWT_EXPIRES_IN=7d

APP_TIMEZONE=Asia/Damascus
CLIENT_URL=http://localhost:5001

# Set automatically on Netlify (do not set locally unless testing Netlify mode)
# NETLIFY=true
